<p>Специалисты компании "Оргтехцентр" не только выполнили комплексную автоматизацию магазина ПРОДУКТЫ, но и подключили его к государственной системе ЕГАИС: программное обеспечение и оборудование позволяет принимать и продавать алкогольную продукцию в полном соотвествии с требованиями российского законодательства </p>

<div class="products__title">В магазине ПРОДУКТЫ установлены:</div>

<div class="products-list-one">
    <div class="clearfix">
        <img src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
        <div class="products-list-one__title">Товароучетная программа "ШТРИХ-М: Торговое предприятие 5"</div>
    </div>
    <p>Один из самых удобных программных продуктов для розничного магазина ></p>

    <div class="products-list-one__hidden">
        <p><b>ТОП-4 преимуществ товароучетной программы "ШТРИХ-М: Торговое предприятие v.5" с точки зрения владельца магазина</b></p>
        <ul>
            <li>
                <b>Сколько стоит ваш бизнес.</b> Благодаря программе, вы всегда знаете, сколько у вас денег: в товаре, в обороте, в складских остатках, сколько вы должны поставщикам, и сколько должны вам
            </li>
            <li>
                <b>Сколько стоит ваш бизнес.</b> Благодаря программе, вы всегда знаете, сколько у вас денег: в товаре, в обороте, в складских остатках, сколько вы должны поставщикам, и сколько должны вам
            </li>
        </ul>
    </div>
</div>

<div class="products-list-one">
    <div class="clearfix">
        <img src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
        <div class="products-list-one__title">Товароучетная программа "ШТРИХ-М: Торговое предприятие 5"</div>
    </div>
    <p>Один из самых удобных программных продуктов для розничного магазина ></p>

    <div class="products-list-one__hidden">
        <p>ТОП-4 преимуществ товароучетной программы "ШТРИХ-М: Торговое предприятие v.5" с точки зрения владельца магазина</p>
        <ul>
            <li>
                <b>Сколько стоит ваш бизнес.</b> Благодаря программе, вы всегда знаете, сколько у вас денег: в товаре, в обороте, в складских остатках, сколько вы должны поставщикам, и сколько должны вам
            </li>
            <li>
                <b>Сколько стоит ваш бизнес.</b> Благодаря программе, вы всегда знаете, сколько у вас денег: в товаре, в обороте, в складских остатках, сколько вы должны поставщикам, и сколько должны вам
            </li>
        </ul>
    </div>
</div>
