<div class="products">
    <div class="products__title">
        Магазин прилавочной торговли (Екатеринбург)
    </div>
    <div class="products__descr">
        Небольшой магазин прилавочной торговли в спальном районе Екатеринбурга. У всех магазинов такого типа очень большой ассортимент и высокий покупательский трафик. Таким магазинам необходимо мощное и в то же время простое в эксплуатации программное обеспечение - и для автоматизации товароучета, и для автоматизации рабочих мест кассиров
    </div>

    <div class="products__date">
        Дата внедрения - апрель 2016 года
    </div>
</div>