<ul class="category">
    <li>
        <a href="#">Онлайн кассы</a>
    </li>

    <li>
        <a href="#">Сканеры штрих-кода</a>
    </li>

    <li>
        <a href="#">Терминалы сбора данных</a>
    </li>

    <li>
        <a href="#">Термопринтеры этикеток</a>
    </li>

    <li>
        <a href="#">Программное обеспечение</a>
        <ul>
            <li><a href="#">ПО для торговли</a></li>
            <li><a href="#">ПО для общепита</a></li>
            <li><a href="#">Прикладное ПО DataMobile</a></li>
        </ul>
    </li>

    <li>
        <a href="#">POS-периферия</a>
        <ul>
            <li><a href="#">Чековые принтеры</a></li>
            <li><a href="#">Программируемые клавиатуры</a></li>
            <li><a href="#">Табло покупателя</a></li>
            <li><a href="#">Денежные ящики</a></li>
            <li><a href="#">Мониторы кассира</a></li>
            <li><a href="#">Мониторы повара</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Кассовая техника (старый Госреестр)</a>
        <ul>
            <li><a href="#">Фискальные регистраторы</a></li>
            <li><a href="#">Кассовые аппараты со встроенным банковским терминалом</a></li>
            <li><a href="#">Контрольно-кассовые аппараты</a></li>
            <li><a href="#">Встраиваемые фискальные регистраторы для платежных терминалов</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Электронные весы</a>
        <ul>
            <li><a href="#">Весы с печатью этикетки (комплексы этикетирования)</a></li>
            <li><a href="#">Торговые и фасовочные весы</a></li>
            <li><a href="#">Напольные весы</a></li>
            <li><a href="#">Счетные весы</a></li>
            <li><a href="#">Крановые весы</a></li>
            <li><a href="#">Платформенные весы</a></li>
            <li><a href="#">Ювелирные весы</a></li>
            <li><a href="#">Медицинские весы</a></li>
        </ul>
    </li>

    <li>
        <a href="#">ТАХОГРАФЫ</a>
    </li>

    <li>
        <a href="#">POS-терминалы и POS-системы</a>
    </li>

    <li>
        <a href="#">Банковское оборудование</a>
        <ul>
            <li><a href="#">Мобильные банковские POS-терминалы</a></li>
            <li><a href="#">Детекторы банкнот</a></li>
            <li><a href="#">Счетчики и сортировщики банкнот</a></li>
            <li><a href="#">Счетчики и сортировщики монет</a></li>
        </ul>
    </li>

    <li>
        <a href="#">Кассовые боксы</a>
    </li>

    <li>
        <a href="#">Инфокиоски и прайс-чекеры</a>
    </li>

    <li>
        <a href="#">Обзорные зеркала</a>
    </li>
</ul>