<h2 class="category-title">Мобильные банковские POS-терминалы</h2>
<div class="sub-list">
    <img src="tmp/catalog-1.jpg" alt="">
    Мобильные банковские POS-терминалы и PinPad российского производства "ЯРУС" (YARUS) для приема платежей по банковским пластиковым картам
</div>

<h2 class="category-title">Детекторы банкнот</h2>

<div class="sub-list">
    <div class="tabs">
        <div class="tab-list">
            <div class="tab-list__one active">Тип</div>
            <div class="tab-list__one">Брэнды</div>
        </div>
        <div class="tab-box">
            <div class="tab-one active">
                <a class="list-one" href="#">Автоматические</a>
                <a class="list-one" href="#">Просмотровые</a>
            </div>
            <div class="tab-one">
                <a class="list-one" href="#">ДОРС</a>
                <a class="list-one" href="#">PRO Intellect Technology</a>
                <a class="list-one" href="#">DoCash</a>
                <a class="list-one" href="#">KOBELL</a>
            </div>
        </div>
    </div>
</div>


<h2 class="category-title">Счетчики и сортировщики банкнот</h2>
<div class="sub-list">
    <img src="tmp/catalog-2.jpg" alt="">
    Предназначены для автоматического подсчета денежных купюр. Некоторые модели одновременно производят проверку подлинности банкнот
</div>