<div class="products">
    <div class="product">
        <a href="#" class="product__img">
            <img src="http://www.orgtc.ru/images/2/21516341499771891.jpg" alt="">
        </a>
        <a href="#" class="product__title">АСПД RETAIL-01</a>
        <div class="product__price">1200 руб.</div>
        <div class="product__descr">Можно доработать до онлайн кассы "РИТЕЙЛ-01Ф"</div>
        <div class="product__options">
            <ul>
                <li>Скорость сканирования <span>60 кадров/с</span></li>
                <li>Дальность считывания <span>до 50 см </span></li>
                <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
                <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
                <li>Вес <span>154 г</span></li>
            </ul>
        </div>
    </div>
    <div class="product">
        <a href="#" class="product__img">
            <img src="http://www.orgtc.ru/images/2/21516341499771891.jpg" alt="">
        </a>
        <a href="#" class="product__title">АСПД RETAIL-01</a>
        <div class="product__price">1200 руб.</div>
        <div class="product__descr">Можно доработать до онлайн кассы "РИТЕЙЛ-01Ф"</div>
        <div class="product__options">
            <ul>
                <li>Скорость сканирования <span>60 кадров/с</span></li>
                <li>Дальность считывания <span>до 50 см </span></li>
                <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
                <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
                <li>Вес <span>154 г</span></li>
            </ul>
        </div>
    </div>
    <div class="product">
        <a href="#" class="product__img">
            <img src="http://www.orgtc.ru/images/2/21516341499771891.jpg" alt="">
        </a>
        <a href="#" class="product__title">АСПД RETAIL-01</a>
        <div class="product__price">1200 руб.</div>
        <div class="product__descr">Можно доработать до онлайн кассы "РИТЕЙЛ-01Ф"</div>
        <div class="product__options">
            <ul>
                <li>Скорость сканирования <span>60 кадров/с</span></li>
                <li>Дальность считывания <span>до 50 см </span></li>
                <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
                <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
                <li>Вес <span>154 г</span></li>
            </ul>
        </div>
    </div>
    <div class="product">
        <a href="#" class="product__img">
            <img src="http://www.orgtc.ru/images/2/21516341499771891.jpg" alt="">
        </a>
        <a href="#" class="product__title">АСПД RETAIL-01</a>
        <div class="product__price">1200 руб.</div>
        <div class="product__descr">Можно доработать до онлайн кассы "РИТЕЙЛ-01Ф"</div>
        <div class="product__options">
            <ul>
                <li>Скорость сканирования <span>60 кадров/с</span></li>
                <li>Дальность считывания <span>до 50 см </span></li>
                <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
                <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
                <li>Вес <span>154 г</span></li>
            </ul>
        </div>
    </div>
    <div class="product-more recommend-more"><span>Показать еще</span></div>
</div>