<div class="sub-list">
    <div class="tabs">
        <div class="tab-list">
            <div class="tab-list__one active">По назначению</div>
            <div class="tab-list__one">По брэнду</div>
        </div>
        <div class="tab-box">
            <div class="tab-one active">
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >Фотосканеры двумерных ШК</a>
                    <div class="sub-list-one__descr">
                        Сканер CipherLAB 1504 рассчитан на считывание русского набора символов для 2D штрих-кодов ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >Фотосканеры двумерных ШК</a>
                    <div class="sub-list-one__descr">
                        Сканер CipherLAB 1504 рассчитан на считывание русского набора символов для 2D штрих-кодов ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >Фотосканеры двумерных ШК</a>
                    <div class="sub-list-one__descr">
                        Сканер CipherLAB 1504 рассчитан на считывание русского набора символов для 2D штрих-кодов ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >Фотосканеры двумерных ШК</a>
                    <div class="sub-list-one__descr">
                        Сканер CipherLAB 1504 рассчитан на считывание русского набора символов для 2D штрих-кодов ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/27792311448371058.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >Фотосканеры двумерных ШК</a>
                    <div class="sub-list-one__descr">
                        Сканер CipherLAB 1504 рассчитан на считывание русского набора символов для 2D штрих-кодов ...
                    </div>
                </div>
            </div>
            <div class="tab-one">
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/5457391450348137.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >CipherLAB</a>
                    <div class="sub-list-one__descr">
                        Компания CipherLab является одним из мировых лидеров в разработке, производстве и продвижении решений автоматической идентификации и сбора данных. ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/5457391450348137.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >CipherLAB</a>
                    <div class="sub-list-one__descr">
                        Компания CipherLab является одним из мировых лидеров в разработке, производстве и продвижении решений автоматической идентификации и сбора данных. ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/5457391450348137.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >CipherLAB</a>
                    <div class="sub-list-one__descr">
                        Компания CipherLab является одним из мировых лидеров в разработке, производстве и продвижении решений автоматической идентификации и сбора данных. ...
                    </div>
                </div>
                <div class="sub-list-one clearfix">
                    <a class="sub-list-one__img" href="#">
                        <img  src="http://www.orgtc.ru/images/1/5457391450348137.jpg" alt="">
                    </a>
                    <a href="#" class="sub-list-one__title" >CipherLAB</a>
                    <div class="sub-list-one__descr">
                        Компания CipherLab является одним из мировых лидеров в разработке, производстве и продвижении решений автоматической идентификации и сбора данных. ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>