<div class="sub-category">
    <a href="#" class="sub-category__title">Фискальные регистраторы</a>
    <div class="sub-category-descr">
        <img src="tmp/catalog-1.jpg" alt="">
        Чекопечатающие машины с блоком ЭКЛЗ и фискальной памятью. Входят в состав автоматизированных мест кассира
    </div>
</div>
<div class="sub-category">
    <a href="#" class="sub-category__title">Фискальные регистраторы</a>
    <div class="sub-category-descr">
        <img src="tmp/catalog-1.jpg" alt="">
        Чекопечатающие машины с блоком ЭКЛЗ и фискальной памятью. Входят в состав автоматизированных мест кассира
    </div>
</div>
<div class="sub-category">
    <a href="#" class="sub-category__title">Фискальные регистраторы</a>
    <div class="sub-category-descr">
        <img src="tmp/catalog-1.jpg" alt="">
        Чекопечатающие машины с блоком ЭКЛЗ и фискальной памятью. Входят в состав автоматизированных мест кассира
    </div>
</div>
<div class="sub-category">
    <a href="#" class="sub-category__title">Фискальные регистраторы</a>
    <div class="sub-category-descr">
        <img src="tmp/catalog-1.jpg" alt="">
        Чекопечатающие машины с блоком ЭКЛЗ и фискальной памятью. Входят в состав автоматизированных мест кассира
    </div>
</div>

<div class="product-more recommend-more"><span>Показать еще</span></div>