<div class="solutions">
    <div class="solution">
        <a class="solution__img" href="#"><img src="http://www.orgtc.ru/images/1/20580081458027834.jpg" alt=""></a>
        <div class="solution-bottom">
            <a class="solution__title" href="#">Автоматизация торговли</a>
            <div class="solution__descr">Комплексная автоматизация предприятий любого формата: торговых сетей, гипермаркетов, супермаркетов, магазинов "у дома", бутиков</div>
            <a class="solution__more" href="#">Подробнее</a>
        </div>
    </div>
    <div class="solution">
        <a class="solution__img" href="#"><img src="http://www.orgtc.ru/images/1/20580081458027834.jpg" alt=""></a>
        <div class="solution-bottom">
            <a class="solution__title" href="#">Автоматизация торговли</a>
            <div class="solution__descr">Комплексная автоматизация предприятий любого формата: торговых сетей, гипермаркетов, супермаркетов, магазинов "у дома", бутиков</div>
            <a class="solution__more" href="#">Подробнее</a>
        </div>
    </div>
    <div class="solution">
        <a class="solution__img" href="#"><img src="http://www.orgtc.ru/images/1/20580081458027834.jpg" alt=""></a>
        <div class="solution-bottom">
            <a class="solution__title" href="#">Автоматизация торговли</a>
            <div class="solution__descr">Комплексная автоматизация предприятий любого формата: торговых сетей, гипермаркетов, супермаркетов, магазинов "у дома", бутиков</div>
            <a class="solution__more" href="#">Подробнее</a>
        </div>
    </div>
    <div class="solution">
        <a class="solution__img" href="#"><img src="http://www.orgtc.ru/images/1/20580081458027834.jpg" alt=""></a>
        <div class="solution-bottom">
            <a class="solution__title" href="#">Автоматизация торговли</a>
            <div class="solution__descr">Комплексная автоматизация предприятий любого формата: торговых сетей, гипермаркетов, супермаркетов, магазинов "у дома", бутиков</div>
            <a class="solution__more" href="#">Подробнее</a>
        </div>
    </div>
</div>
<div class="show-more"><a>Показать еще</a></div>