<div class="footer">
    <div class="footer-top">
        <a href="#" class="footer-top-icon footer-top-icon--map"></a>
        <a href="#" class="footer-top-icon footer-top-icon--mail"></a>
        <a href="#" class="footer-top-icon footer-top-icon--service"></a>
    </div>
    <div class="footer-line">
        2015 © OOО «Оргтехника-Центр»
    </div>
    <div class="footer-line">
        <a href="#" class="show-more">Создание и продвижение сайта</a>
        <div class="show-hidden">
            <a href="#">Разработка сайта «СофтМажор»</a>
            <a href="#">Продвижение сайта «Сумма технологий»</a>
        </div>
    </div>
    <div class="footer-line">
        <a href="#">Открыть полную версию сайта</a>
    </div>

    <div class="footer-line">
        <a href="#">Положение об обработке персональных данных</a>
        <a href="#">Согласие на обработку персональных данных</a>
    </div>
    
    
    <a href="#top" class="j-scroll-to footer__go-top"></a>
</div>