<div class="head" id="top">
    <div class="head-top">
        <a href="#" class="head-logo">
            <img src="img/logo.png" alt="">
        </a>
        <div class="head-right">
            <div class="head-search">
                <a href="#search" class="head-search__button open-modal"></a>
            </div>
            

            <div class="head-menu">
                <a href="#menu" class="head-menu__button open-modal"></a>
            </div>
            
        </div>
    </div>
    <div class="head-bottom">
        <div class="head-bottom-one city-1">
            <div class="head-phone">
                <div class="head-phone__number"><span>(343) </span>216-33-63</div>
                <div class="head-phone__city">Екатеринбург</div>
                <div class="head-phone-more"></div>
            </div>
            <div class="head-call">
                <div class="head-call-button">
                    <a href="#" class="head-call__one head-call__one--phone">
                        <span>Позвонить</span>
                    </a>
                    <a href="#" class="head-call__one head-call__one--mail">
                        <span>Написать</span>
                    </a>
                    <a href="#" class="head-call__one head-call__one--whatsapp">
                        <span>Написать</span>
                    </a>
                </div>
                <a href="#" class="head-call__other">Выбрать другой офис</a>
            </div>
            <div class="head-city">
                <div class="head-city-one" data-city="city-1">
                    <div class="head-city__phone"><span>(343)</span> 350-05-23</div>
                    <div class="head-city__title"><span>Екатеринбург</span></div>
                </div>
                <div class="head-city-one" data-city="city-2">
                    <div class="head-city__phone"><span>(3452)</span> 45-20-04</div>
                    <div class="head-city__title"><span>Тюмень</span></div>
                </div>
            </div>
        </div>
        <div class="head-bottom-one city-2 hidden">
            <div class="head-phone">
                <div class="head-phone__number"><span>(3452) </span>45-20-04</div>
                <div class="head-phone__city">Тюмень</div>
                <div class="head-phone-more"></div>
            </div>
            <div class="head-call">
                <div class="head-call-button">
                    <a href="#" class="head-call__one head-call__one--phone">
                        <span>Позвонить</span>
                    </a>
                    <a href="#" class="head-call__one head-call__one--mail">
                        <span>Написать</span>
                    </a>
                    <a href="#" class="head-call__one head-call__one--whatsapp">
                        <span>Написать</span>
                    </a>
                </div>
                <a href="#" class="head-call__other">Выбрать другой офис</a>
            </div>
            <div class="head-city">
                <div class="head-city-one" data-city="city-1">
                    <div class="head-city__phone"><span>(343)</span> 350-05-23</div>
                    <div class="head-city__title"><span>Екатеринбург</span></div>
                </div>
                <div class="head-city-one" data-city="city-2">
                    <div class="head-city__phone"><span>(3452)</span> 45-20-04</div>
                    <div class="head-city__title"><span>Тюмень</span></div>
                </div>
            </div>
        </div>
    </div>

    
</div>