<div id="overlay">
	<div class="modal modal--fz" id="menu">
		<ul class="head-menu-list">
            <div class="head-menu-list__close modal-close"></div>
            <li><a href="#">54-ФЗ</a></li>
            <li><a href="#">Решения</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Сервисный центр</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
        </ul>
	</div>
	<div class="modal modal--fz" id="search">
		<div class="head-search-form">
            <div class="head-search-form__close modal-close"></div>
            <form action="" class="" id="search">
                <input type="text" name="search" placeholder="Введите ключивое слово">
                <button type="submit"></button>
            </form>
        </div>
	</div>

</div>