<div id="overlay">
	<div class="modal modal--fz" id="menu">
		<ul class="head-menu-list">
            <div class="head-menu-list__close modal-close"></div>
            <li><a href="#">54-ФЗ</a></li>
            <li><a href="#">Решения</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Сервисный центр</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
        </ul>
	</div>
	<div class="modal modal--fz" id="search">
		<div class="head-search-form">
            <div class="head-search-form__close modal-close"></div>
            <form action="" class="" id="search">
                <input type="text" name="search" placeholder="Введите ключивое слово">
                <button type="submit"></button>
            </form>
        </div>
	</div>    
</div>

<div id="overlay--top">
    <div class="modal modal--fz" id="filtr">
        <div class="search-list">
            <div class="filtr-title">Поиск модели
                <div class="modal-close"></div>
            </div>
            <div class="search-one">
                <div class="search-one__title">Ширина чековой ленты</div>
                <div class="search-one-drop">
                    <div class="search-one__param">
                        <input type="radio" id="param1-1" name="param1" value="57 мм">
                        <label for="param1-1">57 мм</label>
                        
                    </div>
                    <div class="search-one__param">
                        <input type="radio" id="param1-2" name="param1" value="80 мм">
                        <label for="param1-2">80 мм</label>
                        
                    </div>
                </div>
            </div>
            <div class="search-one">
                <div class="search-one__title">Скорость печати</div>
                <div class="search-one-drop">
                    <div class="search-one__param">
                        <input type="radio" id="param2-1" name="param2" value="до 50 мм/с">
                        <label for="param2-1">до 50 мм/с</label>
                    </div>
                    <div class="search-one__param">
                        <input type="radio" id="param2-2" name="param2" value="до 100 мм/с">
                        <label for="param2-2">до 100 мм/с</label>
                    </div>
                    <div class="search-one__param">
                        <input type="radio" id="param2-3" name="param2" value="до 200 мм/с">
                        <label for="param2-3">до 200 мм/с</label>
                    </div>
                </div>
            </div>
            <div class="search-one">
                <div class="search-one__title">Автоотрез</div>
                <div class="search-one-drop">
                    <div class="search-one__param">
                        <input type="radio" id="param3-1" name="param3" value="Да">
                        <label for="param3-1">Да</label>
                    </div>
                    <div class="search-one__param">
                        <input type="radio" id="param3-2" name="param3" value="Нет">
                        <label for="param3-2">Нет</label>
                    </div>
                </div>
            </div>
            <div class="search-one">
                <div class="search-one__title">Бренд</div>
                <div class="search-one-drop">
                    <div class="search-one__param">
                        <input type="checkbox" id="param4-1" name="param4-1">
                        <label for="param4-1">RETAIL</label>
                    </div>
                    <div class="search-one__param">
                        <input type="checkbox" id="param4-2" name="param4-2">
                        <label for="param4-2">Элвес</label>
                    </div>
                    <div class="search-one__param">
                        <input type="checkbox" id="param4-3" name="param4-3">
                        <label for="param4-3">ШТРИХ-М</label>
                    </div>
                    <div class="search-one__param">
                        <input type="checkbox" id="param4-4" name="param4-4">
                        <label for="param4-4">NCR</label>
                    </div>
                </div>
            </div>
            <div class="filtr-bottom">
                <button class="filtr-bottom__search" type="submit">Найти</button>
                <button class="filtr-bottom__reset" type="button">Сброс</button>
            </div>
        </div>
    </div>
</div>

<div id="order">
    <div class="order">
        <div class="order-close"></div>
        <form action="" id="order-form">
            <div class="order-title">Заказать</div>
            <div class="order-line">
                <label>Ф.И.О. Контактного лица</label>
                <input type="text" name="">
            </div>
            <div class="order-line">
                <label>Название организации</label>
                <input type="text" name="">
            </div>
            <div class="order-line">
                <label>Контактный телефон</label>
                <input type="text" name="">
            </div>
            <div class="order-line">
                <label>Контактный e-mail</label>
                <input type="text" name="">
            </div>
            <div class="order-line">
                <label>Сообщение</label>
                <textarea name="message" ></textarea>
            </div>
            <div class="order-line">
                <label>Сколько будет: шесть <b>отнять</b> один?</label>
                <input type="text" name="">
            </div>

            <button class="order-button" type="submit">Отправить</button>
        </form>
    </div>
</div>