<div class="card-tabs">
    <div class="card-tab">
        <div class="card-tab__title">Центральный офис в Екатеринбурге</div>
        <div class="card-tab__body">
            <h1>Центральный офис в Екатеринбурге</h1>

            <p><b>Адрес:</b> Екатеринбург, Сибирский тракт, 8в</p>

            <p><b>Телефон/факс:</b> (343) 216-33-63, 216-33-63</p>

            <p><b>E-mail:</b> <a href="#">info@orgtc.ru</a></p>

            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script>
            ymaps.ready(function () {
                var myMap = new ymaps.Map('map1', {
                        center: [56.825227067887205,60.64218349999989],
                        zoom: 16,
                        controls: []
                    }, {
                    }),
                 
                    myPlacemark = new ymaps.Placemark([56.825227067887205,60.64218349999989], {
                        iconCaption: 'Сибирский тракт, 8в',
                    }, {
                        preset: 'islands#blueCircleDotIconWithCaption',
                        iconCaptionMaxWidth: '240'
                    });
                myMap.behaviors.disable('scrollZoom');
                myMap.geoObjects.add(myPlacemark);
            });
            </script>

            <h2>Карта проезда</h2>
            <div id="map1" style="height: 200px; margin-bottom: 30px;">
                
            </div>

            <h2>Офисы</h2>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>
        </div>
    </div>
    <div class="card-tab">
        <div class="card-tab__title">Офис продаж на Мичурина 54</div>
        <div class="card-tab__body">
            <h1>Центральный офис в Екатеринбурге</h1>

            <p><b>Адрес:</b> Екатеринбург, Сибирский тракт, 8в</p>

            <p><b>Телефон/факс:</b> (343) 216-33-63, 216-33-63</p>

            <p><b>E-mail:</b> <a href="#">info@orgtc.ru</a></p>

            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script>
            ymaps.ready(function () {
                var myMap = new ymaps.Map('map2', {
                        center: [56.825227067887205,60.64218349999989],
                        zoom: 16,
                        controls: []
                    }, {
                    }),
                 
                    myPlacemark = new ymaps.Placemark([56.825227067887205,60.64218349999989], {
                        iconCaption: 'Сибирский тракт, 8в',
                    }, {
                        preset: 'islands#blueCircleDotIconWithCaption',
                        iconCaptionMaxWidth: '240'
                    });
                myMap.behaviors.disable('scrollZoom');
                myMap.geoObjects.add(myPlacemark);
            });
            </script>

            <h2>Карта проезда</h2>
            <div id="map2" style="height: 200px; margin-bottom: 30px;">
                
            </div>

            <h2>Офисы</h2>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>
        </div>
    </div>
    <div class="card-tab">
        <div class="card-tab__title">Центральный офис в Тюмени</div>
        <div class="card-tab__body">
            <h1>Центральный офис в Екатеринбурге</h1>

            <p><b>Адрес:</b> Екатеринбург, Сибирский тракт, 8в</p>

            <p><b>Телефон/факс:</b> (343) 216-33-63, 216-33-63</p>

            <p><b>E-mail:</b> <a href="#">info@orgtc.ru</a></p>

            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script>
            ymaps.ready(function () {
                var myMap = new ymaps.Map('map3', {
                        center: [56.825227067887205,60.64218349999989],
                        zoom: 16,
                        controls: []
                    }, {
                    }),
                 
                    myPlacemark = new ymaps.Placemark([56.825227067887205,60.64218349999989], {
                        iconCaption: 'Сибирский тракт, 8в',
                    }, {
                        preset: 'islands#blueCircleDotIconWithCaption',
                        iconCaptionMaxWidth: '240'
                    });
                myMap.behaviors.disable('scrollZoom');
                myMap.geoObjects.add(myPlacemark);
            });
            </script>

            <h2>Карта проезда</h2>
            <div id="map3" style="height: 200px; margin-bottom: 30px;">
                
            </div>

            <h2>Офисы</h2>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>

            <h3>Отдел информационных технологий</h3>
            <p>Разработка и внедрение проектов автоматизации торговли, общепита, складов, предприятий сферы услуг</p>
            <div class="about-hide" style="display: none;">
                <p>Полный цикл автоматизации: консалтинг (обследование предприятия, формализация бизес-процессов, подбор программного обеспечения и оборудования), при необходимости - доработка программного обеспечения или разработка ПО по индивидуальным требваниям, обучение персонала заказчика работе с программным обеспечением, внедрение проекта, сопровождение и удаленное администрирование программного обеспечения.</p>
                <p>Помимо автоматизации товароучета, отдел информационных технологий занимается внедрением таких технологий, как видеонаблюлдение, cash-control, противокражное оборудование, системы подсчета посетителей, автоматизация адресного маркетинга, электронные ценники, автоматизация на базе RFID-технологий и т .п.</p>
            </div>
            <div class="about-more--left">
                <span>Показать</span>
            </div>
        </div>
    </div>
    
</div>