/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@arrow-name: 'arrow';
@arrow-x: 226px;
@arrow-y: 172px;
@arrow-offset-x: -226px;
@arrow-offset-y: -172px;
@arrow-width: 16px;
@arrow-height: 10px;
@arrow-total-width: 334px;
@arrow-total-height: 272px;
@arrow-image: '../img/sprite.png';
@arrow: 226px 172px -226px -172px 16px 10px 334px 272px '../img/sprite.png' 'arrow';
@arrow-sm-name: 'arrowSm';
@arrow-sm-x: 308px;
@arrow-sm-y: 190px;
@arrow-sm-offset-x: -308px;
@arrow-sm-offset-y: -190px;
@arrow-sm-width: 12px;
@arrow-sm-height: 18px;
@arrow-sm-total-width: 334px;
@arrow-sm-total-height: 272px;
@arrow-sm-image: '../img/sprite.png';
@arrow-sm: 308px 190px -308px -190px 12px 18px 334px 272px '../img/sprite.png' 'arrowSm';
@arrow-white-name: 'arrowWhite';
@arrow-white-x: 226px;
@arrow-white-y: 142px;
@arrow-white-offset-x: -226px;
@arrow-white-offset-y: -142px;
@arrow-white-width: 50px;
@arrow-white-height: 30px;
@arrow-white-total-width: 334px;
@arrow-white-total-height: 272px;
@arrow-white-image: '../img/sprite.png';
@arrow-white: 226px 142px -226px -142px 50px 30px 334px 272px '../img/sprite.png' 'arrowWhite';
@call-name: 'call';
@call-x: 0px;
@call-y: 0px;
@call-offset-x: 0px;
@call-offset-y: 0px;
@call-width: 200px;
@call-height: 142px;
@call-total-width: 334px;
@call-total-height: 272px;
@call-image: '../img/sprite.png';
@call: 0px 0px 0px 0px 200px 142px 334px 272px '../img/sprite.png' 'call';
@check-name: 'check';
@check-x: 280px;
@check-y: 190px;
@check-offset-x: -280px;
@check-offset-y: -190px;
@check-width: 28px;
@check-height: 19px;
@check-total-width: 334px;
@check-total-height: 272px;
@check-image: '../img/sprite.png';
@check: 280px 190px -280px -190px 28px 19px 334px 272px '../img/sprite.png' 'check';
@close-blue-name: 'close-blue';
@close-blue-x: 162px;
@close-blue-y: 228px;
@close-blue-offset-x: -162px;
@close-blue-offset-y: -228px;
@close-blue-width: 32px;
@close-blue-height: 32px;
@close-blue-total-width: 334px;
@close-blue-total-height: 272px;
@close-blue-image: '../img/sprite.png';
@close-blue: 162px 228px -162px -228px 32px 32px 334px 272px '../img/sprite.png' 'close-blue';
@close-grey-name: 'close-grey';
@close-grey-x: 130px;
@close-grey-y: 228px;
@close-grey-offset-x: -130px;
@close-grey-offset-y: -228px;
@close-grey-width: 32px;
@close-grey-height: 32px;
@close-grey-total-width: 334px;
@close-grey-total-height: 272px;
@close-grey-image: '../img/sprite.png';
@close-grey: 130px 228px -130px -228px 32px 32px 334px 272px '../img/sprite.png' 'close-grey';
@close-name: 'close';
@close-x: 130px;
@close-y: 190px;
@close-offset-x: -130px;
@close-offset-y: -190px;
@close-width: 38px;
@close-height: 38px;
@close-total-width: 334px;
@close-total-height: 272px;
@close-image: '../img/sprite.png';
@close: 130px 190px -130px -190px 38px 38px 334px 272px '../img/sprite.png' 'close';
@close-bl-name: 'closeBl';
@close-bl-x: 168px;
@close-bl-y: 190px;
@close-bl-offset-x: -168px;
@close-bl-offset-y: -190px;
@close-bl-width: 38px;
@close-bl-height: 38px;
@close-bl-total-width: 334px;
@close-bl-total-height: 272px;
@close-bl-image: '../img/sprite.png';
@close-bl: 168px 190px -168px -190px 38px 38px 334px 272px '../img/sprite.png' 'closeBl';
@mail-name: 'mail';
@mail-x: 0px;
@mail-y: 142px;
@mail-offset-x: 0px;
@mail-offset-y: -142px;
@mail-width: 130px;
@mail-height: 130px;
@mail-total-width: 334px;
@mail-total-height: 272px;
@mail-image: '../img/sprite.png';
@mail: 0px 142px 0px -142px 130px 130px 334px 272px '../img/sprite.png' 'mail';
@mail-sm-name: 'mailSm';
@mail-sm-x: 240px;
@mail-sm-y: 190px;
@mail-sm-offset-x: -240px;
@mail-sm-offset-y: -190px;
@mail-sm-width: 40px;
@mail-sm-height: 26px;
@mail-sm-total-width: 334px;
@mail-sm-total-height: 272px;
@mail-sm-image: '../img/sprite.png';
@mail-sm: 240px 190px -240px -190px 40px 26px 334px 272px '../img/sprite.png' 'mailSm';
@menu-name: 'menu';
@menu-x: 178px;
@menu-y: 142px;
@menu-offset-x: -178px;
@menu-offset-y: -142px;
@menu-width: 48px;
@menu-height: 44px;
@menu-total-width: 334px;
@menu-total-height: 272px;
@menu-image: '../img/sprite.png';
@menu: 178px 142px -178px -142px 48px 44px 334px 272px '../img/sprite.png' 'menu';
@menu-arrow-name: 'menuArrow';
@menu-arrow-x: 276px;
@menu-arrow-y: 142px;
@menu-arrow-offset-x: -276px;
@menu-arrow-offset-y: -142px;
@menu-arrow-width: 50px;
@menu-arrow-height: 30px;
@menu-arrow-total-width: 334px;
@menu-arrow-total-height: 272px;
@menu-arrow-image: '../img/sprite.png';
@menu-arrow: 276px 142px -276px -142px 50px 30px 334px 272px '../img/sprite.png' 'menuArrow';
@menu-footer-name: 'menuFooter';
@menu-footer-x: 194px;
@menu-footer-y: 228px;
@menu-footer-offset-x: -194px;
@menu-footer-offset-y: -228px;
@menu-footer-width: 32px;
@menu-footer-height: 30px;
@menu-footer-total-width: 334px;
@menu-footer-total-height: 272px;
@menu-footer-image: '../img/sprite.png';
@menu-footer: 194px 228px -194px -228px 32px 30px 334px 272px '../img/sprite.png' 'menuFooter';
@search-name: 'search';
@search-x: 130px;
@search-y: 142px;
@search-offset-x: -130px;
@search-offset-y: -142px;
@search-width: 48px;
@search-height: 48px;
@search-total-width: 334px;
@search-total-height: 272px;
@search-image: '../img/sprite.png';
@search: 130px 142px -130px -142px 48px 48px 334px 272px '../img/sprite.png' 'search';
@service-name: 'service';
@service-x: 206px;
@service-y: 190px;
@service-offset-x: -206px;
@service-offset-y: -190px;
@service-width: 34px;
@service-height: 34px;
@service-total-width: 334px;
@service-total-height: 272px;
@service-image: '../img/sprite.png';
@service: 206px 190px -206px -190px 34px 34px 334px 272px '../img/sprite.png' 'service';
@whatsapp-name: 'whatsapp';
@whatsapp-x: 200px;
@whatsapp-y: 0px;
@whatsapp-offset-x: -200px;
@whatsapp-offset-y: 0px;
@whatsapp-width: 134px;
@whatsapp-height: 134px;
@whatsapp-total-width: 334px;
@whatsapp-total-height: 272px;
@whatsapp-image: '../img/sprite.png';
@whatsapp: 200px 0px -200px 0px 134px 134px 334px 272px '../img/sprite.png' 'whatsapp';
@spritesheet-width: 334px;
@spritesheet-height: 272px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @arrow @arrow-sm @arrow-white @call @check @close-blue @close-grey @close @close-bl @mail @mail-sm @menu @menu-arrow @menu-footer @search @service @whatsapp;
@spritesheet: 334px 272px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
