<div class="about">
    <div class="about-hide">
        <h1>Торговое оборудование (Екатеринбург, Тюмень)</h1>
        <p>Компания "Оргтехника-Центр"&nbsp;занимается продажей торгового оборудования для магазинов, предприятий общепита, а также любых предприятий и организаций, которым необходимо внедрение автоматизации бизнес-процессов. Также в нашем сервисном центре можно заказать ремонт и техническое обслуживание оборудования для торговли в Екатеринбурге и Тюмени.</p>

        <h2>Системы автоматизации</h2>
        <p>Компания "Оргтехника-Центр"&nbsp;выполняет полный цикл автоматизации торговли и общепита:</p>
        <ul>
            <li>
                <p>предприятий торговли любого формата: супермаркетов, гипермаркетов, торговых сетей, магазинов формата "у дома", магазинов прилавочной торговли, алкомаркетов, магазинов разливного пива, непродовольственных магазинов, бутиков;</p>
            </li>
            <li>
                <p>предприятий общепита: ресторанов, кафе, фаст-фуда, баров, пиццерий;</p>
            </li>
            <li>
                <p>столовых на промышленных предприятиях и холдингах (заводские и рабочие столовые, буфеты, магазинов);</p>
            </li>
            <li>
                <p>служебных столовых в учреждениях, бизнес-центрах, управляющих компаниях;</p>
            </li>
            <li>
                <p>складов любого формата и сферы деятельности</p>
            </li>
        </ul>
        <p>Система автоматизации торговли включает в себя внедрение специализированного программного обеспечения, поставку и интеграцию специализированного кассового и торгового оборудования, и комплексное сопровождение автоматизированного объекта (магазина, предприятия общепита, склада).</p>
        <p>Компания "Оргтехника-Центр"&nbsp;автоматизирует предприятия с использованием готового программного товароучетного и кассового программного обеспечения GESTORI (для крупного ритейла) и семейства программ "ШТРИХ-М"&nbsp;для средней и мелкой розницы и предприятий общепита любого формата. Программисты компании "Оргтехника-Центр"&nbsp;делают доработки программного обеспечения под требования заказчика, в том числе для программ 1С. Кроме того, программисты "Оргтехники-Центр"&nbsp;разрабатывают собственное программное обеспечение для торговли, общепита, складов. Отдельный департамент компании занимается разработкой и интеграцией систем автоматизации для заводских и служебных столовых.</p>
        <p>Кроме автоматизированного товароучета компания "Оргтехника-Центр"&nbsp;внедряет в магазинах системы защиты от внешних и внутренних хищений: антикражное оборудование (противокражные антенны), систему Cash-Control (защита от воровства кассиров), системы видеонаблюдения. Видеонаблюдение, как защиту от воровства и вандализма компания внедряет также на предприятиях общепита и складах.</p>
        <h2>Торговое оборудование для магазинов: POS-системы и кассовая техника</h2>
        <p>Для внедрения систем автоматизации компания "Оргтехника-Центр"&nbsp;осуществляет поставку необходимого торгового оборудования:<a href="http://www.orgtc.ru/katalog/onlayn-kassy/" target="_blank"> онлайн касс</a>, POS-систем и POS-терминалов. Обращаем ваше внимание, что с 2016 до 2018 года производится поэтапное изменение рынка ККТ, в результате которого будет запрещено использовать не только нефискальные чекопечатающие машины, но и любое кассовое оборудование, не прошедшее модернизацию до онлайн версий. В компании "Оргтехника-Центр"&nbsp;вы можете купить кассовое оборудование нового образца (онлайн кассы), полностью соответствующее требованиям нового закона ФЗ-54.</p>
        <h3><strong>Сканеры штрих-кода</strong></h3>
        <p>В компании "Оргтехника-Центр"&nbsp;представлен огромный ассортимент сканеров штрих-кода любого типа и для любых областей бизнеса. Мы продаем сканеры штрих-кода для магазинов, складов, офисов, учреждений и промышленных предприятий. В линейке сканеров есть модели любой ценовой категории – от "премиум"&nbsp;до "эконом", известных производителей и молодых компаний, только выходящих на российский рынок. Общее у всех сканеров ШК только одно – высокое качество.</p>
        <h3><strong>Сервисный центр и ЦТО</strong></h3>
        <p>Сервисный центр "Оргтехника-Центр"&nbsp;осуществляет поддержку систем автоматизации: сопровождение программного обеспечения, техническое обслуживание и ремонт оборудования. Производим модернизацию старых ККМ до онлайн версий, подключение онлайн касс к ОФД и постановку на учет в налоговые органы. "Оргтехника-Центр"&nbsp;является Авторизованным сервисным центром компании "ШТРИХ-М"&nbsp;в уральском регионе, обладая приоритетными правами на сопровождение и доработку программного обеспечения "ШТРИХ-М"&nbsp;и техобслуживание кассовой техники и весов под маркой "ШТРИХ-М".</p>
        <h2>Подключение к ЕГАИС</h2>
        <p>Производим полный цикл подключения магазинов и общепита к системе ЕГАИС: оформление JaCarta, установка Универсального транспортного модуля (УТМ), сопровождение магазинов по работе с ЕГАИС, включая пошаговые консультации по приемке алкогольной продукции на склад. Устанавливаем кассовое оборудование, 2D-сканеры штрих-кода и программное обеспечение для розничной продажи алкоголя через ЕГАИС. Подробные консультации – как работать с оборудованием для ЕГАИС. Компания «Оргтехника-Центр» уже подключила к ЕГАИС несколько сотен предпряяитий торговли и общепита – от маленьких магазинов «у дома» и магазинов разливного пива, до крупных торговых сетей.</p> &nbsp;
    </div>

    <div class="about-more"><span>Читать дальше</span></div>
</div>
