<div class="catalog-main">
    <div class="catalog-main__title">Каталог</div>
    <div class="catalog-main__descr">Оборудование и программное обеспечение</div>
    
    <a href="#" class="catalog-one">
        <img src="tmp/catalog-0.jpg" alt="">
        <h2>POS-системы</h2>
        <p>Кассовые терминалы для магазинов и общепита</p>
    </a>
    <a href="#" class="catalog-one">
        <img src="tmp/catalog-1.jpg" alt="">
        <h2>Терминалы сбора данных</h2>
        <p>Для склада и магазина, на Android и Windows</p>
    </a>
    <a href="#" class="catalog-one">
        <img src="tmp/catalog-2.jpg" alt="">
        <h2>Весы элетронные</h2>
        <p>Торговые, фасовочные, напольные, ювелирные , лабраторные, крановые…</p>
    </a>
    
    <a href="#" class="catalog-more">
        Весь каталог
        <div class="catalog-more__arrow"></div>
    </a>
</div>