<div class="clients">
    <div class="clients__title">Наши клиенты</div>
    <div class="clients-list clearfix">
        <div class="clients-one" style="background-image: url(tmp/client-1.jpg)"></div>
        <div class="clients-one" style="background-image: url(tmp/client-2.jpg)"></div>
        <div class="clients-one" style="background-image: url(tmp/client-3.jpg)"></div>
        <div class="clients-one" style="background-image: url(tmp/client-4.jpg)"></div>
        <div class="clients-one" style="background-image: url(tmp/client-5.jpg)"></div>
        <div class="clients-one" style="background-image: url(tmp/client-6.jpg)"></div>
    </div>
    <div class="show-all">
        <a href="#" >Все клиенты</a>
    </div>
</div>