<div class="news-main">
    <div class="news-main-slider">
        <div class="swiper-wrapper">
            <div class="news-main-one swiper-slide">
                <div class="news-one-left">
                    <div class="news-one__date">10.02.2015</div>
                    <a href="#"><img src="tmp/news-one.jpg" alt=""></a>
                </div>
                <div class="news-one-right">
                    <div class="news-one__title">Новинка</div>
                    <div class="news-one__text">Модульная POS-система бюджетного класса</div>
                    <a href="#" class="news-one__more">Подробнее</a>
                </div>
            </div>
            <div class="news-main-one swiper-slide">
                <div class="news-one-left">
                    <div class="news-one__date">10.02.2015</div>
                    <a href="#"><img src="tmp/news-one.jpg" alt=""></a>
                </div>
                <div class="news-one-right">
                    <div class="news-one__title">Новинка</div>
                    <div class="news-one__text">Модульная POS-система бюджетного класса</div>
                    <a href="#" class="news-one__more">Подробнее</a>
                </div>
            </div>
            <div class="news-main-one swiper-slide">
                <div class="news-one-left">
                    <div class="news-one__date">10.02.2015</div>
                    <a href="#"><img src="tmp/news-one.jpg" alt=""></a>
                </div>
                <div class="news-one-right">
                    <div class="news-one__title">Новинка</div>
                    <div class="news-one__text">Модульная POS-система бюджетного класса</div>
                    <a href="#" class="news-one__more">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="news-slider-nav">
            <div class="news-slider-next"></div>
            <div class="news-slider-prev"></div>
        </div>
    </div>
</div>