<div class="catalog-main">
    <div class="catalog-main__title">Наши внедрения</div>

    <div class="project">
        <div class="swiper-wrapper">
            <a href="#" class="catalog-one swiper-slide">
                <img src="tmp/catalog-0.jpg" alt="">
                <h2>КИРОВСКИЙ</h2>
                <p>крупнейшая уральская торговая сеть</p>
            </a>
            <a href="#" class="catalog-one swiper-slide">
                <img src="tmp/catalog-0.jpg" alt="">
                <h2>Пятерочка</h2>
                <p>крупнейшая уральская торговая сеть</p>
            </a>
            <a href="#" class="catalog-one swiper-slide">
                <img src="tmp/catalog-0.jpg" alt="">
                <h2>Обувь для вас</h2>
                <p>крупнейшая уральская торговая сеть</p>
            </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    
    
    
    <div class="show-all">
        <a href="#" >Все внедрения</a>
    </div>
</div>