<div class="solutions-main">
    <a href="#" class="solutions-one">
        <img src="tmp/catalog-0.jpg" alt="">
        <h2>Онлайн кассы</h2>
        <p>Модели онлайн касс , модернизация
        старых ККМ, сроки введения</p>
    </a>
    <a href="#" class="solutions-one">
        <img src="tmp/catalog-1.jpg" alt="">
        <h2>Автоматизация торговли</h2>
        <p>От супермаркета до бутика: ПО, оборудование, внедрение, сопровождение</p>
    </a>
    <a href="#" class="solutions-one">
        <img src="tmp/catalog-2.jpg" alt="">
        <h2>Автоматизация общепита</h2>
        <p>Пограммное обеспечение «ШТРИХ-М» и Tillypad. Сенсорные POS-терминалы</p>
    </a>
    <a href="#" class="solutions-one">
        <img src="tmp/catalog-3.jpg" alt="">
        <h2>Автоматизация складов</h2>
        <p>Прикладная программа DataMobile для 1C. WMS-системы любой сложности</p>
    </a>
    <a href="#" class="solutions-more">
        Все решения
        <div class="solutions-more__arrow"></div>
    </a>
</div>