<div class="main-top">
<div class="swiper-wrapper">
    <div class="swiper-slide">
        <img src="img/main-img.jpg" alt="">
        <h2>Онлайн кассы</h2>
        <p>Модели онлайн касс , модернизация старых ККМ, сроки введения</p>
    </div>
    <div class="swiper-slide">
        <img src="img/main-img.jpg" alt="">
        <h2>Онлайн кассы</h2>
        <p>Модели онлайн касс , модернизация старых ККМ, сроки введения</p>
    </div>
    <div class="swiper-slide">
        <img src="img/main-img.jpg" alt="">
        <h2>Онлайн кассы</h2>
        <p>Модели онлайн касс , модернизация старых ККМ, сроки введения</p>
    </div>
</div>
</div>