<div class="recommend">
    <div class="recommend-title">
        Фискальные регистраторые
    </div>
    <div class="recommend-one">
        <div class="clearfix">
            <img class="recommend-one__img" src="http://www.orgtc.ru/images/1/105356151446127587.jpg" alt="">
            <a href="#" class="recommend-one__title">ПТК RETAIL-01K</a>
        </div>
        <div class="recommend-one__options">
            <ul>
                <li>Скорость сканирования <span>60 кадров/с</span></li>
                <li>Дальность считывания <span>до 50 см </span></li>
                <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
                <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
                <li>Вес <span>154 г</span></li>
            </ul>
        </div>
    </div>
    <div class="recommend-one">
        <div class="clearfix">
            <img class="recommend-one__img" src="http://www.orgtc.ru/images/1/105356151446127587.jpg" alt="">
            <a href="#" class="recommend-one__title">ПТК RETAIL-01K</a>
        </div>
        <div class="recommend-one__options">
            <ul>
                <li>Скорость сканирования <span>60 кадров/с</span></li>
                <li>Дальность считывания <span>до 50 см </span></li>
                <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
                <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
                <li>Вес <span>154 г</span></li>
            </ul>
        </div>
    </div>
    <div class="recommend-more"><span>Показать еще</span></div>
    
</div>

