<div class="card-descr">
    <a class="card-descr__order" href="#order">Заказать</a>
    <div class="card-descr__price">1 200 <span>руб.</span></div>

    <div class="card-descr__text">Ручной сканер для считывания двумерных штрих-кодов</div>
    <div class="card-descr__options">
        <ul>
            <li>Скорость сканирования <span>60 кадров/с</span></li>
            <li>Дальность считывания <span>до 50 см </span></li>
            <li>Интерфейсы <span>KW, RS-232, USB-HID, USB-VC</span></li>
            <li>Размеры <span>15,3 x 6,1 x 9,3 см</span></li>
            <li>Вес <span>154 г</span></li>
        </ul>
    </div>
    <p>
        
        <img src="http://www.orgtc.ru/files/icons/znak-1d-2d-39.png" alt="">
    </p>
</div>


