<div class="card-gallery">
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(http://www.orgtc.ru/images/0/155962661446039805.jpg)" alt=""></div>
            <div class="swiper-slide" style="background-image: url(http://www.orgtc.ru/images/0/7676371446039795.jpg)" alt=""></div>
            <div class="swiper-slide" style="background-image: url(http://www.orgtc.ru/images/0/76802091446039676.jpg)" alt=""></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(http://www.orgtc.ru/images/3/155962661446039805.jpg)" alt=""></div>
            <div class="swiper-slide" style="background-image: url(http://www.orgtc.ru/images/3/7676371446039795.jpg)" alt=""></div>
            <div class="swiper-slide" style="background-image: url(http://www.orgtc.ru/images/4/76802091446039676.jpg)" alt=""></div>
        </div>
    </div>
</div>