<div class="clients-list clearfix">
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-1.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-2.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-3.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-4.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-5.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-6.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-1.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-2.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-3.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-4.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-5.jpg)"></a>
    <a href="#client" class="clients-one open-modal" style="background-image: url(tmp/client-6.jpg)"></a>
</div>
<div class="show-all">
    <a href="#" >Показать еще</a>
</div>