<div class="products">
    <div class="products__descr">
        Автоматизация ресторанов и кафе представляет собой автоматизацию всех бизнес-процессов путем внедрения специального программного обеспечения и оборудования.
    </div>

</div>
    <h2>
        ТОП-5 причин автоматизировать ресторан, кафе, бар или фаст-фуд
    </h2>
    <p><b>Причина №1.</b> Исключить злоупотребления со стороны персонала</p>
    <p><b>Причина №2.</b> Добиться надежного учета товарных остатков</p>
    <p><b>Причина №3.</b> Привязать клиента системами лояльности и постоянно их совершенствовать (поскольку конкуренты не дремлют)</p>
    <p><b>Причина №4.</b> Принимать деньги всеми возможными способами: налом, безналом, бонусами, сертификатами  и т. д.</p>
    <p><b>Причина №5.</b> Ускорить обслуживание посетителей</p>

    <h4>С точки зрения владельца общепита, система автоматизации должна быть:</h4>
    <p></p>
    <p><b>1. ПРОСТОЙ </b>- во внедрении, обучении персонала, использовании, обслуживании</p>
    <p><b>2. НЕДОРОГОЙ.</b> Или как дипломатично говорят на презентациях: "иметь адекватную стоимость". Этого хотят все – и элитный ресторан, и демократичное кафе, и небольшая пиццерия.</p>

    <h2>Программное обеспечение</h2>

    <p>Это главная часть системы автоматизации любого заведения общепита. Она состоит из двух частей: товароучетной и кассовой. </p>
    <p>Товароучетная часть системы автоматизации позволяет полностью контролировать процесс управления производством и вести учет движения товаров с момента их поступления до момента списания. Все необходимые для бухгалтерского учета данные, хранящиеся back-office, выгружаются в "1-С Бухгалтерию". В систему автоматизации включаются рабочие места администрации: директора, бухгалтера, товароведа и т д. – состав зависит от специфики заведения. Для автоматизации товароучетной части необходимы специализированные решения для предприятий общепита, обладающее широкими функциональными возможностями.</p>